@page 
@model RazorPagesMovies.Models.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <!--link rel="stylesheet" href="Estilos.css" type="text/css"-->
</head>
<h1>Lista de Películas</h1>

<p>
    <a asp-page="Create">Introducir nuevo Título</a>
</p>

<form>
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">Todas</option>
        </select>
        Título: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filtrar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Título</p>
            </th>
            <th>
                <p>Fecha de Estreno</p>
            </th>
            <th>
                <p>Género</p>
            </th>
            <th>
                <p>Precio</p>
            </th>
            <th>
                <p>Calificación</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
